<%- include('./inc/header') %>

  <div class="d-flex justify-content-center">
    <h1>Danh sách</h1>
  </div>

  <div class="container-fluid">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">stt</th>
          <th scope="col">mã nv</th>
          <th scope="col">tên nv</th>
          <th scope="col">ảnh đại diện</th>
          <th scope="col">điểm trung bình</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% obj.forEach((obj, index) => { %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><%= obj.id %></td>            
            <td><%= obj.name %></td>            
            <td><img src="<%= obj.image %>" alt="" width="60" height="60"></td>            
            <td><%= obj.point %></td>     
            <td class="d-flex justify-content-evenly">
              <a href="/edit/<%= obj._id %>" class="btn btn-outline-warning">sửa</a>
              <a href="/delete/<%= obj._id %>" onclick="return confirm('ban co chac chan muon xoa khong ?')" class="btn btn-outline-danger">xóa</a>
          </td>    
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <%- include('./inc/footer') %>